body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    border-bottom: 2px solid #818181;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#add-button {
    margin: 10px;
}

#create-form {
    padding: 10px;
}

.table-header-admin {
    font-size: 6px;
}

.admin-tables-studies td {
    width: 14.28%;
    font-size: 8px;
}

.admin-tables-ingredients td {
    width: 7.14%;
    font-size: 8px;
}

.admin-tables-subjects td {
    width: 8.33%;
}

.admin-tables-performances td {
    width: 6.25%;
}

.admin-tables-invitros td {
     width: 4.56%;
 }

.admin-tables-infusions td {
    width: 6.25%;
}

.admin-tables-genomes td {
    width: 4.56%;
}